.buttons {
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px 50px;
  font-size: 1.7vw;
  background-color: rgb(102, 204, 102);
  color: white;
  border-radius: 35px;
  box-shadow: 2px 3px 7px 0.1px black;
}

@media screen and (max-width: 480px) {
  .buttons {
    font-size: 4.7vw;
    padding: 5px 20px;
  }
}
