@media screen and (max-width: 480px) {
  .title {
    font-size: 14vw;
    text-align: center;
  }

  .subTitle {
    font-size: 11vw;
  }

  .text {
    font-size: 7vw;
    line-height: normal;
  }

  .abrirModal svg {
    width: 10vw;
    height: 10vw;
  }

  .peque {
    font-size: 5vw;
  }

  .layf {
    height: 20vw;
  }

  .botones {
    grid-template-columns: repeat(3, 220px);
    grid-template-rows: 1fr 1fr;
    overflow-x: scroll;
  }
}
