.containerCatalogo {
  color: rgb(102, 204, 102);
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 8vw;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.cardSection {
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* justify-content: center; */
  gap: 40px;
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.card__content * {
  margin: 0;
}

.card__img {
  border-radius: 30px;
  width: 9vw;
  height: 12vw;
}

.card__text {
  font-size: 1.5vw;
}

.card {
  width: 78%;
  display: flex;
  gap: 20px;
  border-radius: 30px;
  padding: 10px;
  border: 2px solid rgb(102, 204, 102);
  box-shadow: 1.5px 1.5px 10px 0.5px #000;
}

.subrayado {
  text-decoration: overline;
}

.spr {
  z-index: 2;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(
    -60deg,
    rgb(205, 255, 219) 50%,
    rgb(255, 255, 255) 50%
  );
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  /* z-index:-1; */
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

.botones {
  padding: 2vw;
  width: 80vw;
  display: grid;
  height: 300px;
  justify-items: center;
  align-content: center;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid rgb(102, 204, 102);
  border-top: 1px solid rgb(102, 204, 102);
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

@keyframes abrir {
  0% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

.abrir {
  animation: abrir 1s ease-in;
  transform: rotateY(0deg);
}

.cerrar {
  animation: abrir 1s alternate-reverse;
  transform: rotateY(90deg);
}

.cerrado {
  transform: rotateY(90deg);
}

.subMenu {
  background-color: rgba(255, 255, 255, 0.716);
  overflow-x: scroll;
  width: 85vw;
  display: flex;
  gap: 20px;
  position: absolute;
  left: 75px;
  top: 600px;
  /* transform: rotateY(90deg); */
}

.subMenu_ul {
  display: flex;
  width: 40vw;
  list-style: none;
}

.botones__cont {
  margin: 10px;
  /* position: absolute; */
  border: 1px solid rgb(102, 204, 102);
  font-size: 2vw;
  cursor: pointer;
  text-align: center;
  width: 200px;
  height: min-content;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.716);
  border-radius: 10px;
}

.botones__cont .peque {
  margin: 0;
}

.subca{
  height: 100px;
}

@media screen and (max-width: 480px) {
  .section {
    min-height: auto;
  }

  .title {
    font-size: 14vw;
  }

  .subTitle {
    font-size: 11vw;
  }

  .text {
    font-size: 8vw;
    line-height: normal;
  }

  .card {
    width: 90%;
  }

  .card__img {
    width: 36vw;
    height: 48vw;
  }
}

.modalContainer {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  z-index: -1;
  transition: 0.6s;
}

.modal {
  border-radius: 15px;
  padding: 50px;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.mostrar {
  z-index: 5;
  transition: 0.6s;
  opacity: 1;
}

.abrirModal {
  transition: all 0.3s;
  cursor: pointer;
}

.abrirModal:hover {
  transform: scale(1.5);
}

.layf {
  opacity: 0.3;
  right: 0;
  position: absolute;
  /* width: 200px; */
  height: 10vw;
}
