.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: rgb(205, 255, 219);
}

.section {
  color: rgb(102, 204, 102);
  position: relative;
  min-height: 100vh;
  width: 83%;
  padding: 9vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.primero{
  background: linear-gradient(rgba(0, 0, 0, 0.50) 0%, rgba(0,0,0,0.50) 100%), url(../assets/primero.png);
  background-position: center;
  background-size: cover;
}

.segundo{
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.50) 0%, rgba(0,0,0,0.50) 100%), url(../assets/munecos.jpg);
  background-position: center;
  background-size: cover;
}

.royos{
  background: linear-gradient(rgba(0, 0, 0, 0.50) 0%, rgba(0,0,0,0.50) 100%), url(../assets/segundo.png);
  background-position: center;
  background-size: cover;
}


.title {
  padding: 0;
  margin: 0;
  font-size: 8vw;
}

.subTitle {
  padding: 3vw;
  margin: 0;
  font-size: 5vw;
  text-align: center;
}

.text {
  font-weight: 700;
  font-size: 3vw;
  text-align: center;
  line-height: 1.5;
}
.blanco {
  background-color: rgb(255, 255, 255);
}

.short{
  min-height: auto;
}

.redes {
  display: flex;
  gap: 15px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.redes a {
  transition: all 0.3s;
}

.redes a:hover {
  transform: scale(1.5);
}

.footer {
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  background: rgb(205, 255, 219);
  color: black;
}

.arial{
  font-family: Arial, Helvetica, sans-serif;
}

.ul__li{
  text-align: start;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../assets/wave.png);
  background-size: 1000px 100px;
  animation: wave 10s linear infinite;
}

.verde {
  background-image: url(../assets/waveClaro.png);
}

@keyframes wave {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: 1000px;
  }
}
